{% extends 'master/base.html' %}

{% block content %}
  <h1>User Register Page</h1>
  <form method="POST">
    {% csrf_token %}
    <label for="" class="form-label">Username</label>
    <input type="text" class="form-control" name="username" />
    <label for="" class="form-label">Email</label>
    <input type="email" class="form-control" name="email" />
    <label for="" class="form-label">Password</label>
    <input type="password" class="form-control" name="password" />
    <label for="" class="form-label">Confirm Password</label>
    <input type="password" class="form-control" name="c_password" />
    <br />
    <a href="{% url 'login_page' %}">Already have an account?</a>
    <br />
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
{% endblock %}
